// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.indexUser {
    

    font-size: 1.2rem;
    h2{
        text-align: center;
        font-style: italic;
    }

    img{
        
        width: 100%;
    }
    .list{
       
        span{
            
            font-size: 1rem;
            list-style: none;
        }
        .logo{
           max-width: 200px; 
        }
    }
}



.totalPrice {
    position: relative;

    .euro {
        position: absolute;
        font-size: 1.1rem;
        top: 2.25rem;
        right: .4375rem;
    }
}
