//fontawesome
@import '~@fortawesome/fontawesome-free/css/all.css';

// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.logins {
    a {
        display: inline-block;
        margin: .3125rem;
        padding: .3125rem .9375rem;
        background-color: $deliverooColor;
        color: white;
        border-radius: .3125rem;
    }
}